body {
    background: linear-gradient(to right, rgb(224, 255, 166), rgb(164, 255, 161));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 20%;
}

input {
    padding: 5px 10px;
    background-color: rgb(145, 255, 160);
    font-size: larger;
    border-radius: 10px;
    transition: 0.3s;
}

input:hover {
    padding: 8px 20px;
}
